body {
    background: salmon;
    display: flex;
    justify-content: center;
}

#container {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
}

.column {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100%;
    width: 25%;
    flex: 1 0 0;
    flex-direction: column;
    flex-wrap: wrap;
}

.block {
    margin: 0px;
    padding: 0px;
    height: 25%;
    width: 100%;
    flex: 1 0 0;
    /* add on hover here */
}